<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.bartwell.exfilepicker"
    android:versionCode="7"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

    <application
        android:icon="@drawable/efp__ic_launcher"
        android:label="@string/efp__app_name"
        android:theme="@style/ExFilePickerThemeDark" >
    </application>

</manifest>
